@model IEnumerable<Image.Models.ImageModel>
@{
    ViewData["Title"] = "Index";
}
<a asp-action="Create" asp-controller="Image" class="nav-link">Crear usuario</a>
<h3>Lista de usuarios</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ImageId)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ImageName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ImageId</td>
                <td>@item.Title</td>
                <td>
                    <img src="/image/@item.ImageName" width="100px" height="100px">
                </td>
                <td>
                    <a asp-controller="Image" asp-action="Delete" asp-route-id="@item.ImageId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>